extends layout/main-layout.pug
block content
    h2 My Products
    if products.length > 0
        .grid
            each product in products
                .product-item
                    p #{product.title}
                    button(class="btn-primary") Add To Cart
    else
        p No Products