@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 20px;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.main-header__item-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.main-header__item{
    padding: 10px 20px;
    font-weight: 500;
}

.main-header__item>a {
    color: #FFF;
    text-decoration: none;
    transition: all ease-in 200ms;
}

.main-header__item>a:hover {
    color: aqua;
    transform: scale(1.05);
}

main {
    padding: 20px;
    width: 100%;
}

input {
    padding: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

button.btn-primary {
    background-color: aqua;
    color: 000;
    padding: 15px;
    border: none;
    cursor: pointer; 
    font-weight: 500;
}
