@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 20px;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.main-header__item-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

.main-header__item{
    padding: 10px 20px;
    font-weight: 500;
}

.main-header__item>a {
    color: #FFF;
    text-decoration: none;
    transition: all ease-in 200ms;
}

.main-header__item>a:hover {
    color: aqua;
    transform: scale(1.05);
}

.main-header__item>a.active {
    color: aqua;
    transform: scale(1.05);
}

button {
    background-color: aqua;
    color: 000;
    padding: 15px;
    border: none;
    cursor: pointer; 
    font-weight: 500;
    border-radius: 10px;
    transition: all ease-in-out 200ms;
}

.btn-input {
    border-radius: 0px 10px 20px 0px;
    padding: 2rem;
    font-size: 1rem;
}

button.btn-primary:hover {
    transform: scale(1.05);
}

main {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

main>.grid {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

main>.grid>.product-item{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 350px;
    box-shadow: 0 10px 13px 0 rgb(0 0 0 / 8%);
}

.addProductForm {
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.addProductForm input {
    padding: 2rem;
    font-size: 1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px 0px 0px 20px;
}